/* line 5, ../scss/cascade.scss */
.foobar, p, div {
  box-sizing: border-box;
}

/* line 9, ../scss/cascade.scss */
p, div {
  background: yellow;
  position: relative;
}

/* line 20, ../scss/cascade.scss */
div {
  display: table;
}

/* line 26, ../scss/cascade.scss */
p, div {
  display: block;
}

/* line 32, ../scss/cascade.scss */
p, div {
  color: blue;
}

/* line 36, ../scss/cascade.scss */
p, div, a {
  display: inline-block;
  vertical-align: top;
  background: yellow;
}

/* line 43, ../scss/cascade.scss */
p, div {
  color: red;
}

/* line 47, ../scss/cascade.scss */
a {
  font-size: 2em;
}
