@mixin gazonk {
    background: yellow;
}

.foobar {
    box-sizing: border-box;
}

p {
    @extend %abstract-block;
    @extend %abstract-color;
    @extend .foobar;

    @include gazonk;

    position: relative;
}

// Div will be placed with every instance of p
div {
    @extend p;

    display: table;
}

p {
    display: block;
}

// All selectors extending this silent class will be placed in
// a comma separated list and then replace this silent class
%abstract-color {
    color: blue;
}

%abstract-block {
    display: inline-block;
    vertical-align: top;

    @include gazonk;
}

p {
    color: red;
}

a {
    @extend %abstract-block;

    font-size: 2em;
}
